<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.transaction.spring.dao.UserAccountMapper">

    <insert id="serviceAInsert">
        INSERT INTO user_account (username, address) VALUES ('A', "beijin")
    </insert>

    <insert id="serviceBInsert">
        INSERT INTO user_account (username, address) VALUES ('B', "beijin")
    </insert>

</mapper>